<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <% for( let index = 0; index < joyas.length; index++ ) { %>
    <%= joyas[index].material %> 
    <% } %>
    <p>Welcome to </p>
  </body>
</html>
