<!--Header-->
<%- include('./partials/header.ejs') %>
<h1><%="¡Hola! Ingresá tu teléfono, mail o usuario" %></h1>
	<form>
		<div class="mb-3">
		  <label for="exampleInputEmail1" class="form-label">Dirección de Mail</label>
		  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
		</div>
		<div class="mb-3">
		  <label for="exampleInputPassword1" class="form-label">Contrasenia</label>
		  <input type="password" class="form-control" id="exampleInputPassword1">
		</div>
		<div class="mb-3 form-check">
		  <input type="checkbox" class="form-check-input" id="exampleCheck1">
		  <label class="form-check-label" for="exampleCheck1">Inicia sesión</label>
		</div>
		<button type="submit" class="btn btn-primary">Envíar</button>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Crea tu cuenta</label>
          </div>
          <button type="submit" class="btn btn-primary">Envíar</button>
	  </form>

<!--Footer-->
<%- include('./partials/footer.ejs') %>