<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
				
			<form class = "formulario-login"action="/">
				<p>
					<input type="text" name="nombreDeUsuario" placeholder="Ingrese su nombre de usuario">
				</p>
				<p>
					<input type="password" name="Contra" placeholder="Ingrese su contraseña">

				</p>
				<p>
					<button>Ingresar</button>

				</p>
			</form>


			<!-- footer -->
			<%- include('./partials/footer.ejs') %>
			<!-- /footer -->

</body>

</html>