<%- include('./partials/head') %>

<body class="body-product-detail">
	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado.ejs') %>
	<% } else{ %>
	<%- include('./partials/header.ejs') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresá a tu cuenta</h2>
			</div>
			<!-- Show the "ultimos" products -->

			<section class="form-login">
				<article class="formulario">
					<form method="POST" action="/login" >
						<div class="form-group">
							<label class="form-texto-arriba">Ingresá tu email</label>
							<input type="text" class="form-control" id="username" name="username"
								aria-describedby="emailHelp" placeholder="Ingresá tu email">
							<small id="emailHelp" class="form-texto">Tu información está segura con nosotros.</small>
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Ingresá tu contraseña</label>
							<input type="password" class="form-control" id="password" name="password"
								placeholder="Contraseña">
						</div>
						<div class="mb-3 form-check">
							<input type="checkbox" class="form-check-input" id="rememberme" name="rememberme">
							<label class="form-check-label" for="rememberme">Recordá mi usuario</label>
						</div>
						<button type="submit" class="btn btn-primary">Ingresar</button>
					</form>

				</article>
				<article class="foto-login">
					<img class="foto-lily" src="/images/products/login-lily.webp" alt="">
				</article>

			</section>


			<!-- footer -->
			<%- include('./partials/footer.ejs') %>
			<!-- /footer -->

</body>

</html>