 <%- include('./partials/head') %>

 <body class="fondoProduct-add">
 	<!-- Header -->
	<% if (locals.user) { %>
		<%- include('./partials/headerLogueado.ejs') %>
	<% } else{ %>
	<%- include('./partials/header.ejs') %>
	<% } %>
	<!-- /Header -->
 	<div class="container products-wrapper">
 		<div class="row">
 			<div class="col-12">
 				<h2 class="products-title">Cargar productos</h2>
 			</div>
			 
 			<!-- Show the "ultimos" products -->
 			<!--<form>
 				<div class="mb-3">
 					<label for="exampleInputEmail1">Imágen del producto</label>
 					<input type="file" class="form-control" id="exampleInputEmail1">
 				</div>
 				<div class="mb-3">
 					<label for="exampleInputPassword1" class="form-label">Nombre del producto</label>
 					<input type="text" class="form-control" id="exampleInputPassword1"
 						placeholder="Creá un nombre para tu producto">
 				</div>
 				<div class="mb-3 form-check">
 					<label class="form-check-label" for="exampleCheck1">Descripción</label>
 					<input type="text" class="form-check-input" id="exampleCheck1" placeholder="Describí tu poducto">
 				</div>
 				<div class="mb-3 form-check">
					<label class="form-check-label" for="exampleCheck1">Fecha de carga</label>
					<input type="date" class="form-check-input" id="exampleCheck1">
 					
 				</div>
 				<button type="submit" class="btn btn-primary">Enviar</button>
 			</form> -->
			 <section class="form-login">
				<article class="formulario">
					<form  method="post" enctype="multipart/form-data"> 
						<div class="form-group">
							<label class="form-texto-arriba">Imagen del producto</label>
							<input type="file" class="form-control" name= "imagen"id="imagen"
								aria-describedby="emailHelp" placeholder="" >
						
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Nombre del producto</label>
							<input type="text" class="form-control" name="nombre"id="nombre"
								placeholder="Creá un nombre para tu producto">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Material</label>
							<input type="text" class="form-control" name= "material" id="material"
								placeholder="Ej. Oro">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Piedras:</label>
							<input type="text" class="form-control" name= "piedras" id="piedras"
								placeholder="Ej. contiene diamantes">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Fecha de carga</label>
							<input type="date" class="form-control" name ="fechaDeCarga"id="fechaDeCarga"
								placeholder="">
						</div>
						
						<button type="submit" class="btn-primary" >Subir</button>
					</form>
				</article>
				<article class="foto-login">
					<img class="foto-lily" src="/images/fotoadd.jpeg" alt="">
				</article>

			</section>


 			<!-- footer -->
 			<%- include('./partials/footer.ejs') %>
 			<!-- /footer -->

 </body>

 </html>