<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %> <!-- no es header logeado aca?-->
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
			<form method="GET" action="/profile" class ="form-register-container">
				<input type="email" name="" class="form-register" placeholder="Ingrese su mail">
				<input type="text" name="" class="form-register" placeholder="Nombre de usuario">
				<input type="text" name="contraseña" class="form-register" placeholder="Contraseña">
				<input type="date" name="fecha" class="form-register" placeholder="Fecha">
				<input type="number" name="DNI" class="form-register" placeholder="Numero de documento">
				<input type="file" name="foto" class="form-register">
				<input type="submit" name="" class="form-register-submit">
			</form>
			</h2>


<!-- footer -->
<%- include('./partials/footer.ejs') %>
<!-- /footer -->

</body>

</html>