<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header.ejs') %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			
			<section class="form-login">
				<article class="formulario">
					<form action="/register" method="POST" >
						<div class="form-group">
							<label class="form-texto-arriba">Correo electr칩nico</label>
							<input type="email" class="form-control" id="exampleInputEmail1" name="email"
								aria-describedby="emailHelp" placeholder="example@email.com">
		
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Nombre de Usuario</label>
							<input type="text" class="form-control" id="exampleInputPassword1" name="nombre"
								placeholder="Cre치 tu nombre de usuario">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Contrase침a</label>
							<input type="password" class="form-control" id="exampleInputPassword1" name="contrase침a"
								placeholder="*********">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Fecha de nacimiento</label>
							<input type="date" class="form-control" id="exampleInputPassword1" name="fechaDeNacimiento"
								placeholder="">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Foto de perfil</label>
							<input type="file" class="form-control" id="exampleInputPassword1" name="fotoDePerfil"
								placeholder="">
						</div>
						
						<button type="submit" class="btn-primary">Crear</button>
					</form>
				</article>
				<article class="foto-login">
					<img class="foto-lily" src="/images/karioregister.jpeg" alt="">
				</article>

			</section>


			<!-- footer -->
			<%- include('./partials/footer.ejs') %>
			<!-- /footer -->
</body>

</html>